<div class="landscape">
	<h1>CS624 Spring 2019</h1>
	<h2>TensorFlow 2.0 & Fashion MNIST</h2>
	<div class="container-me">
		<p>
			<label for="thickness">Choose Model ( {{ model_name }} )
				<select (change)="changeModel($event)">
					<option value="0">CNN on Fashion MNIST</option>
					<option value="1" selected>CNN on Convoluted Sketch Fashion MNIST</option>
				</select>
			</label>
		</p>
		<p>
			<label for="thickness">Pen Color ( {{ pen_color }} )
				<select (change)="changePen($event)">
					<option value="#000" selected>Black</option>
					<option value="#fff">White</option>
					<option value="#A9A9A9">Dark Grey</option>
					<option value="#808080">Grey</option>
					<option value="#D3D3D3">Light Grey</option>
				</select>
			</label>
		</p>
	    <p>
			<label for="thickness">Background Color ( {{ bg_color }} )
				<select (change)="changeBG($event)">
					<option value="#000">Black</option>
					<option value="#fff" selected>White</option>
					<option value="#A9A9A9">Dark Grey</option>
					<option value="#808080">Grey</option>
					<option value="#D3D3D3">Light Grey</option>
				</select>
			</label>
		</p>
		<p>
			<label for="thickness">Pencil Thickness ( {{thickness }} )
				<select (change)="changePencil($event)">
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5" selected>5</option>
					<option value="6">6</option>
					<option value="7">7</option>
					<option value="8">8</option>
					<option value="9">9</option>
					<option value="10">10</option>
					<option value="11">11</option>
					<option value="12">12</option>
					<option value="13">13</option>
					<option value="14">14</option>
					<option value="15">15</option>
					<option value="16">16</option>
					<option value="17">17</option>
					<option value="18">18</option>
					<option value="19">19</option>
					<option value="20">20</option>
				</select>
			</label>
		</p>
	</div>
	<div class="container-me">
		<div class="left-me">
		<div class="">
			<canvas #canvas></canvas>
		</div>
		<div class="container-me top-me">
			<button (click)="predict()" class="large-me">Predict</button>
			<button (click)="reset()">Reset</button>
		</div>
		</div>
		<div class="left-me padd-me">
			<div class="container-me">
			  <div>
			    <div style="display: block">
			      <canvas baseChart
			        [datasets]="barChartData"
			        [labels]="barChartLabels"
			        [options]="barChartOptions"
			        [plugins]="barChartPlugins"
			        [legend]="barChartLegend"
			        [chartType]="barChartType">
			      </canvas>
			    </div>
			  </div>
			</div>
			<div class="container-me">
				<div class="container-me">
					<div *ngIf="sample" class="left-me">
						<img [src]="sample" id="test-image" class="sample" />
					</div>
					<div class="left-me padd-me">
						<p>
							<span>Label:</span><span>{{prediction}}</span>
						</p>
						<p>
							<span>Probability:</span><span>%{{probability}}</span>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container-me">
		<br />
		<button (click)="predict()">Predict</button>
		<br />
		<div *ngIf="display_sketch">
			<div class="left-me">
				<h3>Original Dataset BEFORE Convolution Filter</h3>
				<img src="assets/sketches_before.png" />
			</div>
			<div class="left-me">
				<h3>Sketch Dataset AFTER Convolution Filter</h3>
				<img src="assets/sketches_after.png" />
			</div>
			<div class="left-me">
				<img src="assets/loss-2.png" />
			</div>
			<div class="left-me">
				<img src="assets/accuracy-2.png" />
			</div>
			<div class="left-me">
				<img src="assets/archi.svg" />
			</div>
		</div>
		<div *ngIf="!display_sketch">
			<p>
				<img src="assets/loss.png" />
			</p>
			<p>
				<img src="assets/accuracy.png" />
			</p>
		</div>
		<div id="output-area" class="left-me"><span id="output-header"> </span><div id="output-body"><div class="stream output-id-1"><div class="output_subarea output_text"><pre>
	
	_________________________________________________________________
	Layer (type)                 Output Shape              Param #   
	=================================================================
	conv2d (Conv2D)              (None, 26, 26, 6)         60        
	_________________________________________________________________
	batch_normalization_v1 (Batc (None, 26, 26, 6)         24        
	_________________________________________________________________
	activation (Activation)      (None, 26, 26, 6)         0         
	_________________________________________________________________
	max_pooling2d (MaxPooling2D) (None, 13, 13, 6)         0         
	_________________________________________________________________
	conv2d_1 (Conv2D)            (None, 11, 11, 16)        880       
	_________________________________________________________________
	batch_normalization_v1_1 (Ba (None, 11, 11, 16)        64        
	_________________________________________________________________
	activation_1 (Activation)    (None, 11, 11, 16)        0         
	_________________________________________________________________
	max_pooling2d_1 (MaxPooling2 (None, 5, 5, 16)          0         
	_________________________________________________________________
	dropout (Dropout)            (None, 5, 5, 16)          0         
	_________________________________________________________________
	flatten (Flatten)            (None, 400)               0         
	_________________________________________________________________
	dense (Dense)                (None, 128)               51328     
	_________________________________________________________________
	batch_normalization_v1_2 (Ba (None, 128)               512       
	_________________________________________________________________
	activation_2 (Activation)    (None, 128)               0         
	_________________________________________________________________
	dropout_1 (Dropout)          (None, 128)               0         
	_________________________________________________________________
	dense_1 (Dense)              (None, 84)                10836     
	_________________________________________________________________
	batch_normalization_v1_3 (Ba (None, 84)                336       
	_________________________________________________________________
	activation_3 (Activation)    (None, 84)                0         
	_________________________________________________________________
	dropout_2 (Dropout)          (None, 84)                0         
	_________________________________________________________________
	dense_2 (Dense)              (None, 10)                850       
	_________________________________________________________________
	activation_4 (Activation)    (None, 10)                0         
	=================================================================
	Total params: 64,890
	Trainable params: 64,422
	Non-trainable params: 468
	_________________________________________________________________
	
	</pre></div></div></div><span id="output-footer"></span></div>
	</div>
	<div class="container-me">
		<div class="left-me">
			<b>Student Information:</b>
			<br />
			<b>Name</b>: Mustafa Hesham Mahrous
			<br />
			<b>Email</b>: m.qamaruddin.89@gmail.com
			<br />
			<b>Mobile</b>: +2 011 2764 09 73
		</div>
	</div>
</div>
<router-outlet></router-outlet>
